$body-bg-color  = #0a0c27 if hexo-config('css_doodle.enable')

$mdc-animation-deceleration-curve-timing-function = cubic-bezier(0, 0, .2, 1)
$mdc-animation-standard-curve-timing-function = cubic-bezier(.4, 0, .2, 1)
$mdc-animation-acceleration-curve-timing-function = cubic-bezier(.4, 0, 1, 1)
$mdc-animation-sharp-curve-timing-function = cubic-bezier(.4, 0, .6, 1)